{# Layout originally taken from the Miniflux project, used under the Apache 2.0 License #}
{% extends "layout.html" %}
{% block title %}Tags{% endblock %}
{% block content %}
<section class="page-header">
    <h1>Tags ({{ tags | length }})</h1>
    <!-- <ul>
        <li>
            <a href="/tag/create"><svg class="icon" aria-hidden="true">
                    <use xlink:href="/icon/sprite.svg#icon-add-category" />
                </svg>Create a tag</a>
        </li>
    </ul> -->
</section>
<div class="items">

    {% for tag in tags %}
    <article role="article" class="item {% if tag.unread_count > 0 %}category-has-unread{% endif %}">
        <div class="item-header" dir="auto">
            <span class="item-title">
                <a href="/tag/{{ tag.id }}/entries">{{ tag.label }}</a>
            </span>
            (<span title="Number of unread entries">{{ tag.unread_count }}</span>)
        </div>
        <div class="item-meta">
            <!-- <ul class="item-meta-info">
                <li>
                    There are 12 feeds.
                </li>
            </ul> -->
            <ul class="item-meta-icons">
                <li>
                    <a href="/tag/{{ tag.id }}/entries"><svg class="icon" aria-hidden="true">
                            <use xlink:href="/icon/sprite.svg#icon-entries" />
                        </svg><span class="icon-label">Articles</span></a>
                </li>
                <!-- <li>
                    <a href="/tag/4/feeds"><svg class="icon" aria-hidden="true">
                            <use xlink:href="/icon/sprite.svg#icon-feeds" />
                        </svg><span class="icon-label">Subscriptions</span></a>
                </li>
                <li>
                    <a href="/tag/4/edit"><svg class="icon" aria-hidden="true">
                            <use xlink:href="/icon/sprite.svg#icon-edit" />
                        </svg><span class="icon-label">Edit</span></a>
                </li> -->

                {% if tag.unread_count > 0 %}
                <li>
                    <a href="#" data-confirm="true" data-label-question="Are you sure?" data-label-yes="yes"
                        data-label-no="no" data-label-loading="In progress..."
                        data-url="/tag/{{ tag.id }}/mark-all-as-read"><svg class="icon" aria-hidden="true">
                            <use xlink:href="/icon/sprite.svg#icon-read" />
                        </svg><span class="icon-label">Mark all as read</span></a>
                </li>
                {% endif %}

            </ul>
        </div>
    </article>
    {% endfor %}

</div>
{% endblock %}